<main>
    <div>
        <div class="relative h-[100vh]">
            <div class="center_to_div reset_whole">
                <div>
                    <img class="mx-auto" [src]="image?.lockwithcirclefilled?.normal" alt="reset password">
                </div>
                <h1 class="mt-[48px]">
                    Change password
                </h1>
                <p class="mt-[17px]">
                    Now you can change your password here...
                </p>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <app-textbox [groupName]="form" label="New Password" type="password" name="newpassword" id="newpassword"
                        class="my-[40px] {{err_fields?.includes('new_password') ? 'err' : ''}}" controlName="new_password"
                        [modelChange]="remErrFields"></app-textbox>

                    <app-textbox [groupName]="form" label="Confirm Password" type="password" name="confirmpassword" id="confirmpassword"
                        class="my-[40px] {{err_fields?.includes('confirm_password') ? 'err' : ''}}" controlName="confirm_password"
                        [modelChange]="remErrFields"></app-textbox>

                    <div class="my-[26px]">
                        <app-buttons label="Change my password" class="my-[30px]"></app-buttons>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>