@font-face {
    font-family: 'lato';
    src:
        url('../../fonts/Lato/Lato-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'work sans';
    src:
        url('../../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype')
}

@font-face {
    font-family: 'sf pro';
    src:
        url('../../fonts/Sf_Pro/SF-Pro-Text-Regular.ttf') format('truetype')
}