
$bg_dark: #BDBDBD;
$bg_main: #EEEEEE;
$bg_light: #FAFAFA;

$primary_dark: #2D404D;
$primary_main: #A0E0E3;
$primary_light: #C0F8FB;

$secondary_dark: #506B62;
$secondary_main: #D6FD51;
$secondary_light: #F3FFCC;

$white: #FFFFFF;

$primary_btn: #FFFFFF;
$secondary_btn: #D6FD51;
$error_btn: #D32F2F;
$warning_btn: #ED6C02;
$info_btn: #0288D1;
$success_btn: #2E7D32;
$inherit_btn: #E0E0E0;

$disabled: #000000;
$enable: #A0E0E3;

$inactive : #716568;
$active : #97898D;
$white: #fff;
$black: #000;

$default: #202223;


$ltr_spg_5: 0.5px;
$margin: 40px;