<div class="view_whole">
    <div class="flex items-center">

        <a href="javascript:void(0)" class="active switch_active rounded-l-[10px] view_list">
            <div class="p-[19px]">
                <img [src]="image?.FormatAlignLeftFilled?.normal" alt="icon">
            </div>
        </a>

        <a href="javascript:void(0)" class="switch_active rounded-r-[10px] view_calender">
            <div class="p-[19px]">
                <img [src]="image?.leavemanagement?.normal" alt="icon">
            </div>
        </a>

    </div>
</div>