<main>
    <div>
        <div class="relative h-[100vh]">
            <div class="center_to_div reset_whole">
                <div>
                    <img class="mx-auto" [src]="image?.lockwithcirclefilled?.normal" alt="reset password">
                </div>
                <h1 class="mt-[48px]">
                    Reset password
                </h1>
                <p class="mt-[17px]">
                    We will send you a link to reset your<br>password via the email
                </p>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <app-textbox [groupName]="form" label="Registered Email" type="text" name="email" id="email"
                        class="my-[40px] {{err_fields?.includes('email') ? 'err' : ''}}" controlName="email"
                        [modelChange]="remErrFields"></app-textbox>

                    <div class="my-[26px]">
                        <app-buttons label="Send me reset link" class="my-[30px]"></app-buttons>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>